<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title>Back Button</ion-title>
        <ion-button>
            <ion-icon slot="icon-only" name="contact"></ion-icon>
          </ion-button>
  </ion-toolbar>
  </ion-header>

<ion-content class="content">
  <div>
    <ion-input type="text" value="" placeholder="Usuario"></ion-input>
    <ion-input type="password" value="" placeholder="Password"></ion-input>

    <ion-button color="secondary">Acceder</ion-button>
  </div>  

</ion-content>
