<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title>Back Button</ion-title>
        <ion-button>
            <ion-icon slot="icon-only" name="contact"></ion-icon>
          </ion-button>
  </ion-toolbar>
  </ion-header>

<ion-content>
    <form #loginForm="ngForm" (ngSubmit)="login()" autocomplete="off">
        <ion-row>
          <ion-col>
            <ion-list inset>
              <ion-item>
                <ion-input placeholder="Email" name="username" id="loginField"
                           type="text" required [(ngModel)]="username" #email></ion-input>
              </ion-item>
              <ion-item>
                <ion-input placeholder="Password" name="password" id="passwordField"
                           type="password" required [(ngModel)]="password"></ion-input>
              </ion-item>
            </ion-list>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <div *ngIf="error" class="alert alert-danger">{{error}}</div>
            <button ion-button class="submit-btn" full type="submit"
                    [disabled]="!loginForm.form.valid">Login
            </button>
          </ion-col>
        </ion-row>
      </form>
  <div>
    <ion-input type="text" value="" placeholder="Usuario"></ion-input>
    <ion-input type="password" value="" placeholder="Password"></ion-input>

    <ion-button color="secondary">Acceder</ion-button>
  </div>  

</ion-content>
